.iklan{
    display: flex;
    gap: 20px;
    margin-left: 15%;
}
.iklan img{
    display: flex;
    justify-content: center;
    width: 200px;
    border-radius: 10px;
    box-shadow: black;
    margin-top: 40px;
}
.categori{
    justify-content: center;
    gap: 20px;
    width: 70px;
    margin: 20px;
    border-radius: 100%;
}
.categori img{
    display: flex;
    justify-content:center;
    gap: 20px;
    width: 70px;
    border-radius: 100%;
}
.categori img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
h2{
    padding-left: 20px;
}
h3{
    padding-left: 20px;
}
.container{
    display: flex;
    justify-content: center;
    gap:10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 70px;
}
.card{
    width: 16rem;
    height: 360px;
    border-radius: 12px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    background-color: aliceblue;
}
.card img{
    width: 100%;
    height: 200px;
    display: block;
    background-color: dimgray;
    overflow: hidden;
}
.card img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.card:hover{
    background-color: deepskyblue;
}
.card-body{
    padding: 15px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: black;
}
.btn-grad {background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8  51%, #757F9A  100%)}
.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    margin-left: 64px;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
nav{
    background-color: black;
    padding: 10px;
    position: fixed;
    width: 100%;
}        
ul{
    color: #fff;
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 25px;
}
body{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
ul a{
    color: #eee;
    text-decoration: none;
}